{% extends "base.html" %}

{% block content %}

<form action="#" method='post'>
    <div class="mdl-grid">
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--middle">
                <input class="mdl-textfield__input mdl-input__expandable-holder"
                       type="text"
                       name="name"
                       id="add-category-name">
                <label class="mdl-textfield__label"
                       for="add-category-name">Category Name
                </label>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <input type='submit'
                   value='Add'
                   class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
                <input type='reset'
                   value='Reset'
                   class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
            </div>
        </div>
    </div>
</form>

{% endblock %}
