{% extends "base.html" %}

{% block content %}

<div class="mdl-grid">

    <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand mdl-cell--middle">
            <div class="mdl-card__title-text">
                All Categories
            </div>
        </div>
        <div class="mdl-card__subtitle-text mdl-card--expand mdl-cell--middle">
            Number of Categories: {{categories|length}}
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">add</i>
                Add a New Category
            </a>
        </div>
    </div>

    {% for category in categories %}

        <div class="mdl-cell mdl-cell--2-col mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand mdl-cell--middle">
                <div class="mdl-card__title-text">
                    {{category.name}}
                </div>
            </div>
            <div class="mdl-card__subtitle-text mdl-card--expand mdl-cell--middle">
                Category Id: {{category.id}}
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                   href="{{url_for('view_category', category_id=category.id)}}">
                    <i class="material-icons">list</i>
                    Show All Items
                </a>
                <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">
                    <i class="material-icons">add</i>
                    Add an Item
                </a>
            </div>
        </div>

    {% endfor %}

</div>

{% endblock %}

