{% extends "base.html" %}

{% block content %}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-card--expand mdl-cell--middle">
        <h3>All Categories</h3>
    </div>
    {% for category in categories %}

    <div class="mdl-cell mdl-cell--4-col">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand mdl-cell--middle">
                <h4 class="mdl-card__title-text">
                    {{category.name}}
                </h4>
            </div>
            <div class="mdl-card__subtitle-text mdl-card--expand mdl-cell--middle">
                <h4>
                    Category Id: {{category.id}}
                </h4>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Add a Product
                </a>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}

