{% extends "base.html" %}

{% block content %}

<form action="#" method='post'>
    <div class="mdl-grid">
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
            <input type='text'
                   size='30'
                   name='name'
                   class="mdl-card__title mdl-cell--middle"
                   placeholder='{{product.name}}'
            >
            <div class="mdl-card__subtitle-text mdl-card--expand mdl-cell--middle">
                <h4>
                    Category Name: {{product.category.name}}
                </h4>
            </div>
            <textarea rows='20'
                      cols='80'
                      name='description'
                      class="mdl-card__supporting-text mdl-cell--middle"
            >
                {{product.description}}
            </textarea>
            <div class="mdl-card__actions mdl-card--border">
                <input type='submit'
                   value='Edit'
                   class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                <input type='reset'
                   value='Reset'
                   class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            </div>
            <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">delete</i>
                </button>
            </div>
        </div>
    </div>
</form>

{% endblock %}
