{% extends "base.html" %}

{% block content %}

<div class="mdl-grid">
    <div class="mdl-card mdl-cell mdl-cell--2-col mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand mdl-cell--middle">
            <div class="mdl-card__title-text">
                All Categories
            </div>
        </div>
        <div class="mdl-card__supporting-text mdl-card--expand mdl-cell--middle">
            <ul class="mdl-list">
                {% for category in categories %}
                    <li class="mdl-list__item">
                        <a class="mdl-list__item-primary-content"
                           href="{{url_for('view_category', category_id=category.id)}}">
                            {{category.name}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect"
               href="{{url_for('add_category')}}">
                <i class="material-icons">add</i>
                Add New
            </a>
        </div>
    </div>
    <div class="mdl-card mdl-cell mdl-cell--10-col mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand mdl-cell--middle">
            <div class="mdl-card__title-text">
                Latest Items
            </div>
        </div>
        <div class="mdl-card__supporting-text">
            <ul class="mdl-list">
                {% for item in items %}
                    <li class="mdl-list__item">
                        <a class="mdl-list__item-primary-content"
                           href="{{url_for('view_item', item_id=item.id)}}">
                            {{item.name}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect"
               href="{{url_for('add_item')}}">
                <i class="material-icons">add</i>
                Add New
            </a>
            <a class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect"
               href="{{url_for('all_items')}}">
                <i class="material-icons">list</i>
                Show All Items
            </a>
        </div>
    </div>
</div>

{% endblock %}
