{% extends "base.html" %}

{% block content %}

<div class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h4 class="mdl-card__title-text">
                {{item.name}}
            </h4>
        </div>
        <div class="mdl-card__subtitle-text mdl-card--expand mdl-cell--middle">
            <h4>
                Category Name: {{item.category.name}}
            </h4>
        </div>
        <div class="mdl-card__supporting-text">
            {{item.description}}
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Edit
            </a>
        </div>
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">share</i>
            </button>
        </div>
    </div>
</div>

{% endblock %}
