{% extends "base.html" %}

{% block content %}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-card--expand mdl-cell--middle">
        <h3>All Products of Category {{category_id}}</h3>
    </div>
    {% for product in products %}

    <div class="mdl-cell mdl-cell--4-col">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand mdl-cell--middle">
                <h4 class="mdl-card__title-text">
                    {{product.name}}
                </h4>
            </div>
            <div class="mdl-card__supporting-text">
                {{product.short_description}}
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                    href="{{url_for('view_product', product_id=product.id)}}">
                View
                </a>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Edit
                </a>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Delete
                </a>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}
